<div class="container-fluid">
  <div class="alert {{alert.class}}" role="alert" *ngFor="let alert of alertsToDisplay">{{alert.message}}</div>

  <form class="row" [formGroup]="serialConfigForm" (ngSubmit)="onConnect()">
    <div class="form-group col-3">
      <select name="" class="form-control" formControlName="port" (click)="reloadPorts()">
        <option value="" disabled>Select Port</option>
        <option *ngFor="let port of availablePorts" [value]="port">{{port}}</option>
      </select>
    </div>
    <div class="form-group col-3">
      <select name="" id="baud_rate" class="form-control" formControlName="baudRate">
        <option value="" disabled>Select Baud Rate</option>
        <option [ngValue]="baudRates" *ngFor="let baudRates of availableBaudRates">{{baudRates}}</option>
      </select>
    </div>
    <span class="form-group col-3">
      <button class="btn m-0 btn-primary" [disabled]="!serialConfigForm.valid || !browserIsChrome || !browserConnected"
              *ngIf="!serial_port_connected">Connect</button>
      <button class="btn m-0 btn-danger" type="button" (click)="onSerialDisconnect()" *ngIf="serial_port_connected">Disconnect</button>
    </span>
    <span class="form-group col-3" *ngIf="serial_port_connected">
      <button class="btn m-0 btn-outline-primary" type="button" (click)="onStartRecording()" *ngIf="!dataRecordStarted">Start Mission</button>
      <button class="btn m-0 btn-outline-danger" type="button" (click)="onStopRecording()" *ngIf="dataRecordStarted">End Mission</button>
    </span>
  </form>

  <div class="row" *ngIf="canSatData">
    <div class="col-lg-2 col-md-4 col-sm-6" *ngFor="let card of cards">
      <app-card
        [title]="card.title"
        [subtitle]="canSatData[card.data_key]"
        [icon_class_name]="card.icon_class_name">
      </app-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
      <app-map></app-map>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h1>Other Data</h1>
    </div>
  </div>
</div>
<app-modal
  title="Enter a name to save data"
  [modalBody]="saveModalBody"
  (onSaveButtonClick)="onRecordingSave($event)"
  [modalOpen]="openDataSaveModel"
></app-modal>

<ng-template #saveModalBody>
  <input class="form-control" type="text" [formControl]="newDataSaveForm" placeholder="Name of your data">
</ng-template>
