<div class="card card-stats">
  <div class="card-body ">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="icon-big text-center icon-warning">
          <i class="nc-icon {{icon_class_name}} text-warning"></i>
        </div>
      </div>
      <div class="col-12 col-md-12">
        <div class="numbers text-center">
          <p class="card-category">{{title}}</p>
          <p class="card-title">{{subtitle}}<p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer ">
<!--    <hr>-->
<!--    <div class="stats">-->
<!--      <i class="fa fa-refresh"></i> Update Now-->
<!--    </div>-->
  </div>
</div>
