<div class="sidebar-wrapper">
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/angular2-logo.png">
      </div>
    </a>
    <a href="#" class="simple-text logo-normal">
      Data Logger
    </a>
  </div>
  <ul class="nav">
    <span *ngFor="let menuItem of menuItems">
      <li routerLinkActive="active" class="{{menuItem.class}}">
        <a [routerLink]="[menuItem.path]">
          <i class="nc-icon {{menuItem.icon}}"></i>
          <p>{{menuItem.title}}</p>
        </a>
      </li>
      <li routerLinkActive="active" class="{{menuItem.class}}" *ngIf="router.url.includes(menuItem.path)">
        <a [routerLink]="[subMenu.path]" *ngFor="let subMenu of menuItem.children" class="p-0 pl-5 mt-0">
          <p>{{subMenu.title}}</p>
        </a>
      </li>
    </span>
  </ul>
</div>
